Solutions/DBSpy/DBSpy/Service References/WebOpsServiceRef/OrderCreation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.50.240:74/OrderCreation.svc?xsd=xsd2" />
  <xs:element name="ProcessRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="webopsObj" nillable="true" type="WebOpsEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getOrderResult" nillable="true" type="WebOpsEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderWrapped">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderWrappedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getOrderWrappedResult" nillable="true" type="WebOpsEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xmlData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xmlDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>