Solutions/DBSpy/DBSpy/Service References/WebOpsServiceRef/OrderCreation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderCreation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.50.240:74/OrderCreation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.50.240:74/OrderCreation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.50.240:74/OrderCreation.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderCreation_ProcessRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="IOrderCreation_getOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderCreation_getOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderCreation_getOrderWrapped_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrderWrapped" />
  </wsdl:message>
  <wsdl:message name="IOrderCreation_getOrderWrapped_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrderWrappedResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderCreation_xmlData_InputMessage">
    <wsdl:part name="parameters" element="tns:xmlData" />
  </wsdl:message>
  <wsdl:message name="IOrderCreation_xmlData_OutputMessage">
    <wsdl:part name="parameters" element="tns:xmlDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderCreation">
    <wsdl:operation name="ProcessRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderCreation/ProcessRequest" message="tns:IOrderCreation_ProcessRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderCreation/getOrder" message="tns:IOrderCreation_getOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderCreation/getOrderResponse" message="tns:IOrderCreation_getOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrderWrapped">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderCreation/getOrderWrapped" message="tns:IOrderCreation_getOrderWrapped_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderCreation/getOrderWrappedResponse" message="tns:IOrderCreation_getOrderWrapped_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="xmlData">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderCreation/xmlData" message="tns:IOrderCreation_xmlData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderCreation/xmlDataResponse" message="tns:IOrderCreation_xmlData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="OrderCreation" />
</wsdl:definitions>