MyNinjaWay/TestServiceForCreation/ConsumeService/Service References/ServiceReference1/OrderCreation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50137/OrderCreation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestServiceForCreation.BAL" />
  <xs:element name="ProcessRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestServiceForCreation.BAL" minOccurs="0" name="webopsObj" nillable="true" type="q1:WebOpsEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>